<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Give Score</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>GIVE SCORE</h1>
    <form action="/subjects/<%= data.id %>/give-score" method="POST">
        <input type="text" value="<%= name %>">
        <input type="text" name="score" placeholder="Put Score Here">
        <button type="submit">BERI</button>
    </form>
</body>
</html>