<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Add Subject</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <%- include('../partials/navbar') %>
    <br>
    <h1 style="text-align: center">Add Subject's Data</h1>
    <h5 style="text-align: center"><a href="/subjects">show all data</a></h5>
    <form action="/subjects/add" method="POST">
        <div class="container">
            <p>Please fill in this form to create an account.</p>
            <hr>
            <br>
            <label><b>Subject Name</b></label>
            <input type="text" placeholder="Enter subject name" name="subject_name" required>
            <br>
            <hr>
            <button type="submit">Register</button>
        </div>
    </form>
</body>
</html>